@model TesteCAPGEMINI.Models.Cliente

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes do Cliente</h1>

<div>
    <h4>Confira os detalhes abaixo</h4>
    <hr />

    <div>
        <a asp-action="Edit" class="btn btn-success" asp-route-id="@Model?.Id">Editar</a>
        <a asp-action="Index" class="btn btn-primary">Voltar</a>
    </div>
    <br />

    <div class="card">
        <div class="card-header">Informações Pessoais</div>
        <div class="card-body row">

            <div class="col-md-6">
                <div class="form-group col-md">
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.Nome)</label>
                        <input disabled class="form-control" value="@Html.DisplayFor(model => model.Nome)" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group col-md">
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.Idade)</label>
                        <input disabled class="form-control" value="@Html.DisplayFor(model => model.Idade)" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group col-md">
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.Cpf)</label>
                        <input disabled class="form-control" value="@Html.DisplayFor(model => model.Cpf)" />
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br />

    <div class="card">
        <div class="card-header">Endereço</div>
        <div class="card-body row">

            <div class="col-md">

                <div class="form-group col-md">
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.Endereco)</label>
                        <input disabled class="form-control" value="@Html.DisplayFor(model => model.Endereco)" />
                    </div>
                </div>

                <div class="form-group col-md">
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.Bairro)</label>
                        <input disabled class="form-control" value="@Html.DisplayFor(model => model.Bairro)" />
                    </div>
                </div>

            </div>

            <div class="col-md">

                <div class="form-group col-md">
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.Estado)</label>
                        <input disabled class="form-control" value="@Html.DisplayFor(model => model.Estado)" />
                    </div>
                </div>

                <div class="form-group col-md">
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.Uf)</label>
                        <input disabled class="form-control" value="@Html.DisplayFor(model => model.Uf)" />
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br />

    <div class="card">
        <div class="card-header">Contato</div>
        <div class="card-body row">

            <div class="col-md-4">

                <div class="form-group col-md">
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.Celular)</label>
                        <input disabled class="form-control" value="@Html.DisplayFor(model => model.Celular)" />
                    </div>
                </div>

            </div>

        </div>
    </div>
    <br />
</div>

