@model TesteCAPGEMINI.Models.VwPedido

<div>
    <h4>VwPedido</h4>
    <hr />
    <div>
        <a class="btn btn-primary" asp-action="Index">Voltar</a>
    </div>
    <br />

    <div class="card">
        <div class="card-header">Informações do Destinatário</div>
        <div class="card-body row">
            <div class="col-md">

                <div class="form-group">
                    <label asp-for="NomeCliente" class="control-label"></label>
                    <input asp-for="NomeCliente" class="form-control" />
                    <span asp-validation-for="NomeCliente" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md">
                <div class="form-group">
                    <label asp-for="Cpf" class="control-label"></label>
                    <input asp-for="Cpf" class="form-control" />
                    <span asp-validation-for="Cpf" class="text-danger"></span>
                </div>

            </div>
        </div>
    </div>
    <br />

    <div class="card">
        <div class="card-header">Informações do Produto</div>
        <div class="card-body row">
            <div class="col-md">

                <div class="form-group">
                    <label asp-for="NomeProduto" class="control-label"></label>
                    <input asp-for="NomeProduto" class="form-control" />
                    <span asp-validation-for="NomeProduto" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="card">
        <div class="card-header">Informações do Pedido</div>
        <div class="card-body row">
            <div class="col-md">

                <div class="form-group">
                    <label asp-for="EnderecoEntrega" class="control-label"></label>
                    <input asp-for="EnderecoEntrega" class="form-control" />
                    <span asp-validation-for="EnderecoEntrega" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <input asp-for="Status" class="form-control" />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md">
                <div class="form-group">
                    <label asp-for="ValorFrete" class="control-label"></label>
                    <input asp-for="ValorFrete" class="form-control" />
                    <span asp-validation-for="ValorFrete" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="ValorTotal" class="control-label"></label>
                    <input asp-for="ValorTotal" class="form-control" />
                    <span asp-validation-for="ValorTotal" class="text-danger"></span>
                </div>
            </div>

        </div>
    </div>

</div>
</div>

@*  <dl class="row">
    <dt class = "col-sm-2">
    @Html.DisplayNameFor(model => model.NomeCliente)
    </dt>
    <dd class = "col-sm-10">
    @Html.DisplayFor(model => model.NomeCliente)
    </dd>
    <dt class = "col-sm-2">
    @Html.DisplayNameFor(model => model.Cpf)
    </dt>
    <dd class = "col-sm-10">
    @Html.DisplayFor(model => model.Cpf)
    </dd>
    <dt class = "col-sm-2">
    @Html.DisplayNameFor(model => model.NomeProduto)
    </dt>
    <dd class = "col-sm-10">
    @Html.DisplayFor(model => model.NomeProduto)
    </dd>
    <dt class = "col-sm-2">
    @Html.DisplayNameFor(model => model.IdCliente)
    </dt>
    <dd class = "col-sm-10">
    @Html.DisplayFor(model => model.IdCliente)
    </dd>
    <dt class = "col-sm-2">
    @Html.DisplayNameFor(model => model.IdProduto)
    </dt>
    <dd class = "col-sm-10">
    @Html.DisplayFor(model => model.IdProduto)
    </dd>
    <dt class = "col-sm-2">
    @Html.DisplayNameFor(model => model.EnderecoEntrega)
    </dt>
    <dd class = "col-sm-10">
    @Html.DisplayFor(model => model.EnderecoEntrega)
    </dd>
    <dt class = "col-sm-2">
    @Html.DisplayNameFor(model => model.Status)
    </dt>
    <dd class = "col-sm-10">
    @Html.DisplayFor(model => model.Status)
    </dd>
    <dt class = "col-sm-2">
    @Html.DisplayNameFor(model => model.ValorFrete)
    </dt>
    <dd class = "col-sm-10">
    @Html.DisplayFor(model => model.ValorFrete)
    </dd>
    <dt class = "col-sm-2">
    @Html.DisplayNameFor(model => model.ValorTotal)
    </dt>
    <dd class = "col-sm-10">
    @Html.DisplayFor(model => model.ValorTotal)
    </dd>
    </dl> *@
</div>

